*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

/*Classes auxiliares*/

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{clear: both;}

.w50{
    float: left;
    width: 50%;
    padding: 0 15px;
}

/**/

section.topo{
    padding-top: 40px;
    padding-bottom: 80px;
}

.logo{
    float: left;
    position: relative;
    top: -15px;
}

.menu-desktop{float: right;}

.menu-desktop li{
    display: inline-block;
    margin: 0 15px;
}

.menu-desktop a {
    text-decoration: none;
    color: black;
}

.clima-imagem {
    /* max-width: 100%; */
    text-align: center;
    display: block;
    background: #e6e6e6;
}

.climatizacao h2{
    text-transform: uppercase;
    font-size: 36px
}

.climatizacao p {
    margin-top: 20px;
    font-size: 30px;
}

.climatizacao img{
    max-width: 85%;
    position: relative;
    top: -45px;
    float: right;
}

div.evaporacao{
    background-color: #363636;
    color: white;
    position: relative;

}

div.evaporacao h2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.evaporacao ul{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 220px;
    padding-bottom: 30px
}

ul.lista-esquerda li,
ul.lista-direita li{
    list-style-type: none;
    padding: 10px 0;
    font-size: 20px;
}

ul.lista-esquerda{
    float: right;
}

/*Clientes*/
.clientes-slider h2{
    font-size: 30px;
    text-align: center;
    padding: 30px 0;

}

.slider-container img{
    max-width: 200px;
    padding: 5px;
}

/****SLICK SLIDER****/

.slick-dotted ul{
	list-style-type: none;
	text-align: center;
	position: relative;
	margin-top:10px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #0c3f8a;
	color: #0c3f8a;
}

.slick-slide:focus { outline: none; }

/**END SLICK**/

.call-to-action{
    margin-top: 20px;
    background: #00386b;
    line-height: 100px;
}

.call-to-action h2{
    text-align: center;
    color: white;
}

.call-to-action a {
    background-color: red;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    position: relative;
    left: 42%;
    border: 1px solid white;
    border-radius: 15px;
    
}

.call-to-action a:hover{
    background-color: white;
    color: red;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .w50{width: 100%;}

    .clima-imagem img{
        max-width: 320px;
    }

    .menu-desktop{
        display: none;
    }

    .logo img{
        text-align: center;
    }
}

