*{
    font-family: "Roboto";
}

.navbar{
    font-size: 20px;
    font-weight: bold;
}

.navbar-brand{
    padding-left: 10px;
}

.clima-imagem {
    /* max-width: 100%; */
    text-align: center;
    /* display: block; */
    background: #e6e6e6;
    /* height: 90vh; */
}

.clima-imagem img{
    height: 85vh;
}

.climatizacao {
    padding-top: 50px;
}

.climatizacao h2{
    text-transform: uppercase;
    font-size: 36px
}

.climatizacao p {
    margin: 30px 0;
    font-size: 24px;
}

.climatizacao img{
    max-width: 85%;
    position: relative;
    top: -45px;
    float: right;
}

div.evaporacao{
    background-color: #363636;
    color: white;
    position: relative;

}

div.evaporacao h2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

ul.lista-esquerda li,
ul.lista-direita li{
    list-style-type: none;
    font-size: 20px;
}

/*Clientes*/
.clientes-slider{
    display: none;
}

.clientes-slider h2{
    font-size: 28px;
    text-align: center;
    padding: 30px 0;
    text-transform: uppercase;
}

.slider-container img{
    max-width: 200px;
    padding: 5px;
}

/****SLICK SLIDER****/
.slick-dotted ul{
	list-style-type: none;
	text-align: center;
	position: relative;
	margin-top:10px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #0c3f8a;
	color: #0c3f8a;
}

.slick-slide:focus { outline: none; }
/**END SLICK**/

.call-to-action{
    align-items: center;
    background: #00386b;
    line-height: 100px;
    /* margin-top: 20px; */
}

.call-to-action h2{
    color: white;
    padding-top: 30px;
    text-align: center;
    text-transform: capitalize;
}

.call-to-action form {
    padding: 20px;
}

.call-to-action textarea {
    resize: none;
}

.footer {
    background-color: #2c2727;
    color: white;
    text-align: center;
    padding: 20px;
}

/*Quem somos*/

.titulo {
    text-align: center;
    padding: 20px;
}